[Desktop Entry]
Name=Feng-IT Remote
NoDisplay=true
MimeType=x-scheme-handler/fengit;
TryExec=fengit
Exec=fengit %u
Icon=fengit
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=fengit
